header{
    height: 85px;
    /* background-color:#d4d4d4; */
    /* border-bottom: 2px solid gray; */
}
header button{
    float:right;
    margin-top: 25px;
}
header img{
    width: 280px;
    margin: 8px 0px 0px 30px;
}
.btn-text{
    padding-right: 20px;
    font-size: 19px;
    margin-top: 30px;
    float: right;
    color:#d00707;
}  
#new_logo1{
    margin-top: 30px;
    margin-left: 10px;
    font-size: 22px;
    background: linear-gradient(#19aaeb , #79c15a);
    border-radius: 10px;
    color: #fff;
    padding-left: 14px;

}